$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin sm-screen {
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin md-screen {
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin lg-screen {
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin xl-screen {
  @media screen and (min-width: $xl) {
    @content;
  }
}
@mixin xxl_screen {
  @media screen and (min-width: $xxl) {
    @content;
  }
}
