$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin md_screen {
  @media screen and (min-width: $sm) {
    max-width: 540px;
    @content;
  }
}
@mixin md_screen {
  @media screen and (min-width: $md) {
    max-width: 720px;
    @content;
  }
}
@mixin lg_screen {
  @media screen and (min-width: $lg) {
    max-width: 960px;
    @content;
  }
}
@mixin xl_screen {
  @media screen and (min-width: $xl) {
    max-width: 1140px;
    @content;
  }
}
@mixin xxl_screen {
  @media screen and (min-width: $xxl) {
    max-width: 1360px;
    @content;
  }
}
